@import '_mixins';
@import '_colors';

.mobile-toc { display: none; }

.wiki-container {
  @include wiki-container();
  margin: 20px 5px;

  @each $element, $data in $colors {
    &.#{$element} { box-shadow: 0 0 5px map-get($data, border); }
  }

  .article-table {
    background: initial;
    margin: 0;
    border: 0;
  }

  .wiki-container-header {
    @include border-radius-corner(top, left, 3px);
    @include border-radius-corner(top, right, 3px);
    padding: 3px 3px 3px 12px;
  }
  @each $element, $data in $colors {
    .wiki-container-header.#{$element} { background: map-get(map-get($data, background), strong) }
  }

  .wiki-container-content {
    padding: 6px 12px;
    border: 0;
  }
}

@each $element, $element-data in $colors {
  @each $property, $color-or-map in $element-data {
    @if $property == "border" {
      @for $i from 1 through 5 {
        .#{$element}-border-#{$i}px {
          border: $color-or-map #{$i}px solid !important;
        }
        @each $side in $sides {
          .#{$element}-border-#{$i}px-#{$side} {
            border-#{$side}: $color-or-map #{$i}px solid !important;
          }
        }
      }
    } @else if $property == "color" {

    } @else { /* $property == "background" */
      @each $force, $color in $color-or-map {
        .#{$element}-background-#{$force} {
          background-color: $color !important;
        }
      }
      .#{$element}-background-like-border {
        background-color: map-get($element-data, border) !important;
      }
      .#{$element}-color-like-border {
        color: map-get($element-data, border) !important;
      }
    }
  }
}

/* right column on home page => 320px for iframe News */
@media only screen and (min-width:1024px) {
  .wikia-main-page-tag-lcs, .main-page-tag-lcs-exploded {
    @include width-calc(100%, 340px);
  }
  .main-page-tag-rcs {
    width: 320px;
  }
}
