.main-tooltip {}
.tt-advanced-tooltip {}
.tt-js-tooltip-item {}
.tt-js-tooltip-unit {}

.advanced-tooltip .tooltip-contents {
  display: none;
}

/* So that avatars appear behind tooltips */
.wds-avatar-stack { z-index: 0; }

.tt-basic-tooltip {
  border: 1px solid #cac4b5;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 2px 5px;
  background-color: #fbeecb;
}
