#tooltip-wrapper .expand-from-top {
  animation: expand-from-top 0.5s ease-out;
}
@keyframes expand-from-top {
  0%   { margin-top: -320px; }
  100% { margin-top: 0; }
}
#tooltip-wrapper .expand-from-left {
  animation: expand-from-left 0.5s ease-out;
}
@keyframes expand-from-left {
  0%   { margin-left: -320px; }
  100% { margin-left: 0; }
}

.tooltip-unit {
  margin: 0 !important;
}

li.tooltip-unit-page {
  display: inline-block;
  vertical-align: top;
}

.tooltip-unit-header {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  position: relative;
  background-image: url("//vignette1.wikia.nocookie.net/bravefrontierrpg/images/4/40/Header_title_base_2.png/revision/latest?cb=20170530201607&path-prefix=fr");
  background-repeat: repeat-x;
  background-position: left center;
  background-size: auto 100%;
  padding: 2px 5px 2px 0;
  margin: 10px 0 10px 15px;
}
.tooltip-unit-header::before {
  background-image: url("//vignette2.wikia.nocookie.net/bravefrontierrpg/images/3/39/Header_title_base_1.png/revision/latest?cb=20170530201553&path-prefix=fr");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  position: absolute;
  top: 0px;
  left: -15px;
  width: 15px;
  height: 100%;
  content: " ";
}
.tooltip-unit-header::after {
  background-image: url("//vignette3.wikia.nocookie.net/bravefrontierrpg/images/a/a9/Header_title_base_3.png/revision/latest?cb=20170530201628&path-prefix=fr");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 100%;
  content: " ";
  margin-right: -25px;
}

.tooltip-unit-gender {
  position: absolute;
  top: 10px;
  right: 10px;
}

.tooltip-unit-detail {
  width: 100px;
  padding: 0 8px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: #D2B56D;
  text-shadow: 0 0 2px black;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: 1px solid #D2B56D;
}
.tooltip-unit-detail .tooltip-unit-detail-number {
  float: right;
  color: white;
}

.tooltip-unit-skill {
  position: relative;
}
.tooltip-unit-skill-header {
  position: absolute;
  top: -2px;
  left: 110px;
  color: #FCA428;
  font-size: 12px;
}
.tooltip-unit-ls .tooltip-unit-skill-header,
.tooltip-unit-es .tooltip-unit-skill-header {
  max-width: 200px;;
}
.tooltip-unit-bb  .tooltip-unit-skill-header,
.tooltip-unit-sbb .tooltip-unit-skill-header,
.tooltip-unit-ubb .tooltip-unit-skill-header {
  max-width: 165px;
}
.tooltip-unit-skill-desc {
  font-size: 12px;
  padding: 0 5px;
  width: 310px;
  color: white;
}
.tooltip-unit-skill-gauge {
  position: absolute;
  top: -2px;
  right: 10px;
  color: #FCA428;
  font-size: 12px;
}

.tooltip-unit-stats {

}
.tooltip-unit-statup {
  color: #00C853;
  text-shadow: 0px 0px 1px gray;
}
.tooltip-unit-statup::before, .tooltip-unit-statup::after {
  content: '⬆';
  font-size: 8px;
}
.tooltip-unit-statdn {
  color: red;
}
.tooltip-unit-statdn::before, .tooltip-unit-statdn::after {
  content: '⬇';
  font-size: 8px;
  vertical-align: super;
}
.tooltip-unit-statup::before, .tooltip-unit-statdn::before {
  position: relative;
  left: -4px;
}

.tooltip-unit-omniskill {
  position: relative;
  color: white;
  font-size: 12px;
}
.tooltip-unit-omniskill-cat-header {
  position: absolute;
  top: 3px;
  left: 7px;
  line-height: 20px;
}
.tooltip-unit-omniskill-desc {
  position: absolute;
  left: 5px;
  height: 45px;
  width: 286px;
  overflow: hidden;
  z-index: 1;
  padding: 0 5px;
}
.tooltip-unit-omniskill-background {
  z-index: 1;
  position: relative;
}
.tooltip-unit-omniskill-cat-icon {
  position: absolute;
  left: 280px;
  top: 2px;
}
.tooltip-unit-omniskill-cat {
  position: absolute;
  top: 2px;
  left: 1px;
  z-index: 0;
  height: 26px;
  overflow: hidden;
}
.tooltip-unit-omniskill-filler {
  position: absolute;
  top: -12.5px;
  height: 2px;
}
.tooltip-unit-omniskill-cat-background img { position: relative; }
.tooltip-unit-omniskill-cat-Parameter-Boost    img { top: 0; }
.tooltip-unit-omniskill-cat-Spark              img { top: -25px; }
.tooltip-unit-omniskill-cat-Critical-Hits      img { top: -50px; }
.tooltip-unit-omniskill-cat-Attack-Boost       img { top: -75px; }
.tooltip-unit-omniskill-cat-BB-Gauge           img { top: -100px; }
.tooltip-unit-omniskill-cat-HP-Recovery        img { top: -125px; }
.tooltip-unit-omniskill-cat-Drops              img { top: -250px; }
.tooltip-unit-omniskill-cat-Ailment-Resistance img { top: -175px; }
.tooltip-unit-omniskill-cat-Ailment-Infliction img { top: -200px; }
.tooltip-unit-omniskill-cat-Damage-Reduction   img { top: -225px; }
.tooltip-unit-omniskill-cat-Special            img { top: -250px; }

// http://nosmoking.developpez.com/demos/css/texte_defilant.html
.marquee {
  overflow: hidden;
}
.marquee:hover .marquee-scroller:before {
  animation-play-state: paused;
}
.marquee .marquee-scroller {
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
}
.marquee .marquee-scroller:before,
.marquee .marquee-scroller:after {
  content: attr(data-text) "\00A0";
  display: inline-block;
  min-width: 50%;
}
.marquee .marquee-scroller:before {
  animation: marquee-scroll 20s infinite linear;
}

@keyframes marquee-scroll {
  0%   { margin-left: 0; }
  100% { margin-left: -50%; }
}
